node_modules
build
npm-debug.log
.nyc
.env
.DS_Store

nft-workspace/*
!nft-workspace/example-project/

nft-workspace/example-project/landscape/*
nft-workspace/example-project/portrait/*
nft-workspace/example-project/square/*